body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 8px 8px 0 0;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-navbar-nav {
    text-align: center;
}

.form-container {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

.table-container {
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
    max-height: 400px; /* Define a altura máxima da tabela */
}
